.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;

    text-align: center;
    color: white;
    background: linear-gradient(#000000, #434343);
}

.intro-container h1 {
    font-size: 2.5rem;
}